body {
    width: 100%;
    /* font-family: 'Roboto Condensed', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

#head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

a { 
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

p {
    padding: 2rem;
}

i {
    color: #14c1ac;
    font-size: 24px;
    transition-property: top;
    transition-duration: 4s;
}

.skills > div > i:hover, a > i:hover {
    position: relative;
    top: -5px;
}

.desc, .bio {
    display: flex;
    align-items: center;
    text-align: left;
}

/* navbar styling */
#brand {
    color:white;
    font-size: 1.8rem;
}

ul, nav, .hamburger, .navbar {
    background-color: #060a0e;
}

.hamburger {
    float: right;
    text-align: right;
}

button {
    border: 1px solid white;
    height: 35px;
    background-color: #060a0e;
}

/* 3 bar styling */
button > div {
    height: 5px;
    width: 30px;
    background-color: white;
    margin: 2px;
}

.dropdown {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    background-color: #060a0e;
    border: none;
    border-radius: 0%;
    width: 100%;
}

.dropdown > a { 
    color: white;
    padding-top: 10px;
}

/* landing page styling */
img {
    height: 100%;
    border: none;
}

.img-box {
    height: 667px;
}
  
.cover {
    width: 100%;
    object-fit: cover;
}

/* projects styling */
.projects, .whoAmI, .contact, .skills {
    text-align: center;
    margin-top: 20px;
}

#reverse {
    flex-direction: row-reverse;
}

p > i {
    font-size: 40px;
}

iframe {
    width: 315px;
}

/* aboutMe styling */
.aboutMe {
    background-color: #8080807a;
    padding-top: 1%;
    padding-bottom: 1%;
}

#pic {
    width: 300px;
}

/* skills styling */

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skills > div >  i {
    font-size: 72px;
}

.skills > div {
    margin: 5%;
}

/* contacts styling */

.contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bye {
    padding-bottom: 1%;
    text-align: center;
}

@media screen and (min-width: 768px) {
    #head {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 3rem;
    }

    .img-box {
        height: 768px;
    }
    
    #navbar-nav {
        margin: 0;
    }

    button {
        display: none;
    }

    .dropdown {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
    }

    .dropdown > a {
        margin-left: 10px;
        margin-right: 10px;
    }

    .project, .aboutMe {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .demo, .bio {
        width: 60%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #desc1 {
        text-align: right;
    }

    #desc2 {
        text-align: left;
    }

    .picture {
        border-radius: 50%;
        border: 10px solid white;
    }
    
    #pic {
        border-radius: 50%;
    }

    .bio > p {
        text-align: right;
    }

    i {
        font-size: 48px;
    }

    .contactInfo {
        justify-content: center;
    }

    .contactInfo > div > a > i {
        margin-left: 25px;
    }

    iframe {
        height: 315px;
    }

}

@media screen and (min-width:1024px) {
    iframe {
        height: 315px;
        width: 516px;
    }

}