body {
    width: 100%;
}

#head {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

i {
    color: #14c1ac;
    font-size: 24px;
}

/* navbar styling */
#brand {
    color:white;
}


#navbar {
    margin-bottom: 0px;
    background-color: #060a0e;
    border: none;
    border-radius: 0%;
}

.navbar-inverse {
    background-color: #060a0e;
    border: none;
}

/* landing page styling */
img {
    height: 100%;
    border: none;
}

.img-box {
    height: 667px;
}
  
.cover {
    width: 100%;
    object-fit: cover;
}

/* projects styling */
.projects, .whoAmI, .contact, .skills {
    text-align: center;
    margin-top: 20px;
}

p > i {
    font-size: 40px;
}

iframe {
    width: 100%;
}

/* .bio > p {
    
} */

/* aboutMe styling */
.aboutMe {
    background-color: #8080807a;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* skills styling */

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skills > div >  i {
    font-size: 72px;
}

.skills > div {
    margin: 5%;
}

/* contacts styling */

.contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bye {
    padding-bottom: 1%;
    text-align: center;
}


@media screen and (min-width: 768px) {
    #head {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 5rem;
    }

    .img-box {
        height: 768px;
    }
    
    #navbar-nav {
        float: right;
        margin: 0;
    }

    .project, .aboutMe {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .demo, .bio {
        width: 60%;
        margin-left: 2%;
        margin-right: 2%;
    }

    #desc1 {
        text-align: right;
    }

    #desc2 {
        text-align: left;
    }

    .picture {
        border-radius: 50%;
        border: 10px solid white;
        /* background-color: white; */
    }
    
    #pic {
        border-radius: 50%;
        /* border: 10px solid white; */
    }

    .bio > p {
        text-align: right;
    }

    i {
        font-size: 48px;
    }

    .contactInfo {
        justify-content: center;
    }

    .contactInfo > div > i {
        margin-left: 25px;
    }

    iframe {
        width: 560px;
        height: 315px;
    }

}

@media screen and (min-width:1024px) {

}

@media screen and (min-width:1024px) {

}

@media screen and (min-width:1366px) {

}